<html>
    <head>
        <title>Dashboard</title>



    </head>
    <body>
        <div class="cont">
            <button data-toggle="collapse" data-target="#newPost">Neuer Post</button>

            <!--eingabe für neuen Post-->
            <div id="newPost" class="collapse">
                <form action="onNewPost" method="POST">
                    
                </form>
            </div>
        </div>

    </body>
</html>