<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <div class="cont">
            <button data-toggle="collapse" data-target="#newPost">Neuer Post</button>

            <!--eingabe für neuen Post-->
            <div id="newPost" class="collapse">
                <form action="onNewPost" method="POST">
                    
                </form>

                <form action="uploadPost" method="POST">

                        <textarea rows="5" cols="20" name="postText">
                        
                        </textarea>
                        <button type="submit">Speichern!</button>
                </form>
            </div>
        </div>

    </body>
</html>