<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Dashboard</title>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <style type="text/CSS"> 
            body {
              background-color: #333333;
              color: #dfdbd2
            }
            a:link, a:active, a:visited{
              text-decoration: none;
              color: rgb(80,176,255);
            }


            .space {
                padding: 20px 0 0;
            }
            

        </style>

    </head>

    <body class="text-center">
        
        
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <a class="navbar-brand" href="#">Dashboard</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="profile">Profile</a></li>
                        <li class="active"><a href="dashboard">Dashboard</a></li>
                        <li class="active"><a href="messenger">Messenger</a></li>
                        <li class="active"><a href="notebook">Notebook</a></li>
                      </ul>
                    </div>
            </nav>


        <h2>Dashboard</h2>

        <div class="posts">
        
        
        </div>



        <div class="cont">
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#newPost">Neuer Post</button>

            <!--eingabe für neuen Post-->
            <div id="newPost" class="collapse">
                <form action="onNewPost" method="POST">
                    
                </form>

                <form action="uploadPost" method="POST">

                        <textarea class ="text-dark" rows="5" cols="20" name="postText">
                        
                        </textarea>
                        <button type="submit" class="btn btn-success">Speichern!</button>
                </form>
                <!--ss<button type="button" class="btn btn-success"  type="submit">Speichern!</button>-->
            </div>
        </div>
        

    </body>
</html>