<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="text-center">
    <form action="/login" method="POST">
        <div class="row">
            Username:                   
        </div>
        <div class="row">
            <input type="text" name="username">
        </div>
        <div class="row">
            Password:
        </div>
        <div class="row">
            <input type="password" name="password">
        </div>
        <div class="row">
            <button type="submit">Login!</button>
        </div>
    </form>
    <form action="/regristrieren" method="POST">
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username"></td>                   
            </tr>
            <tr>
              <td>Password:</td>
              <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td>Passwort wiederholen:</td>
                <td><input type="password" name="repeatpwd"></td>
              </tr>
            <tr>
                <td><button type="submit">Regristrieren!</button></form></td>
            </tr>
        </table>
    </form>
</body>
</html>