<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Messenger</title>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style type="text/CSS"> 
      body {
        background-color: #333333;
        color: #dfdbd2;
      }
      a:link, a:active, a:visited{
        text-decoration: none;
        color: rgb(80,176,255);
      }
      /* div, a, h1 {
        border: 1px solid green;
      } */
      .space {
        padding: 20px 0 0;
      }
    </style>

  </head>
  <body>
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">#YourBook#</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="notebook">Notebook</a></li>
              <li class="active"><a href="messenger">Messenger</a></li>
              <li><a href="profile">Profile</a></li>
              <li><a href="dashboard">Dashboard</a></li>
              <li><a href="allUsers">Browse Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </div> 
        </nav>

    <div class="container" style="margin-bottom: 30px;">
      <!--Header-->
      <h1>Messenger</h1>
      <p>Hallo <%= username %></p>
      <p>Du hast <b>0</b> ungelesene Mails!</p>
      <p>
        
      <!-- <div class="space">
        <h4>Was möchten Sie tun?</h4>
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#hide">Neue Mail verfassen</button>
            <button type="button" class="btn btn-default">Markierte als gelesen markieren</button>
          </div>
        </div>
      </div> -->

      <!--incoming mails-->
      <div class="space">
        <h4>Mails</h4>
        <div class="row">
          <div class="col-md-12">
            <% for(var i = 0; i < messeges.length; i++) { %>
              <div style="margin-top: 2px;" class="form-control"><%= messeges[i].mail %></div>
            <%}%>
          </div>          
        </div>
      </div>
      <div style="margin-top: 10px;">
          <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#hide">Neue Mail verfassen</button>
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#hide">Antworten</button>
          <button type="button" class="btn btn-danger">Löschen</button>
      </div>

      <!--send mail-->
      <div id="hide" class="collapse">
        <div class="space">
          <h4>Neue Mail</h4>
          <form action="/neueMail" method="POST">
            <div class="form-group">
              <label>Neue Mail / Mail beantworten</label>
              <div class="form-group">
                <textarea class="form-control" rows="5" name="mail" placeholder="Schreibe hier deine neue Nachricht."></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="outAdress">Senden an:</label>
              <select class="form-control" id="outAdress" name="username">
              <% for(var i = 0; i < names.length; i++) { %>
                <option name="username" value="<%= names[i].username %>"><%= names[i].username %></option>
              <%}%>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Mail Senden</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>