<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Messenger</title>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style type="text/CSS"> 
      body {
        background-color: #333333;
        color: #dfdbd2
      }
      a:link, a:active, a:visited{
        text-decoration: none;
        color: rgb(80,176,255);
      }
      /* .clearfix {
        overflow: auto;
      } */
      /* .header {
        width: 100%;
        height: 30px;
        text-align: center;
        padding: 15px 0px 10px;
        font-size: 20px;
        font-weight: bold;
        color: dodgerblue;
        text-shadow: 1px 1px 5px #3e3d39
      } */
      .space {
        padding: 20px 0 0;
      }
      /* h1 {
        padding: 0px;
        margin: 20px 0px 0px 0px;
        text-align: center;
        font-weight: normal;
      } */
    
    </style>

  </head>
  <body>
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Mail Service</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="profile">Home</a></li>
              <li><a href="#">Page 1</a></li>
              <li><a href="#">Page 2</a></li>
              <li><a href="#">Page 3</a></li>
            </ul>
          </div>
        </nav>

    <div class="container">
      <!--Header-->
      <h1>Messenger</h1>
      <p>Hallo Niklas.</p>
      <p>Du hast <b>0</b> ungelesene Mails!</p>
      <p>
        
      <div class="space">
        <h4>Was möchten Sie tun?</h4>
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-default">Neue Mail verfassen</button>
            <button type="button" class="btn btn-default">Markierte als gelesen markieren</button>
          </div>
        </div>
      </div>

      <!--incoming mails-->
      <div class="space">
        <h4>Mails</h4>
        <div class="row">
          <div class="col-md-2">
            <div class="form-control" id="msg-area">Von: Mr. X</div>
          </div>

          <div class="col-md-6">
            <div class="form-control" id="msg-area">Dies ist eine Testmail</div>
          </div>

          <div class="col-md-1">
              <center>
                  <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                      </label>
                    </div>
              </center>
            </div>

          <div class="col-md-3">
              <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#hide">Antworten</button>
              <button type="button" class="btn btn-danger">Löschen</button>
          </div>
        </div>
      </div>

      <!--send mail-->
      <div id="hide" class="collapse">
        <div class="space">
          <h4>Mails</h4>
          <form action="/neueMail" method="POST">
            <div class="form-group">
              <label for="outMail">Neue Mail/ Mail beantworten</label>
              <!-- <input class="form-control" type="text" id="outMail" name="mail" placeholder="Schreibe hier deine neue Nachricht."> -->
              <div class="form-group">
                  <textarea class="form-control" rows="5" placeholder="Schreibe hier deine neue Nachricht."></textarea>
                </div>
            </div>
            <button type="mailSenden" class="btn btn-primary">Mails Senden</button>
          </form>
        </div>
      </div>
    </div>
  </body>

  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>

</html>

