<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Messenger</title>
    <style type="text/CSS"> 
      div {
        border: 1px solid #4CAF50;
      }
    </style>

  </head>
  <body>
    <nav>
      <div>
        <a href="#">Messenger</a>
        <p>Menü</p>
      </div>
    </nav>

    <div>
       <div>
         <div>
           <h1>Willkommen!!</h1>
           <p>Neue Mails</p>
           <button id="mailSenden" type="button">Mails Senden</button>
         </div>
         <div >
           <p>Mails von ...</p>
         </div>
       </div>
       <p><a href="impressum.html">Impressum</a></p>
     </div>
    </div>
  </body>
</html>
