<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Profil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="text-center">
    <div class="container-fluid">
        <h1><%= profileData.username %>!</h1>
    </div>  
    <form method="POST" action="uploadPicture">
        <strong>Foto Hochladen:</strong> 
        <input type="file" name="picture"> <br>
        <button type="submit">Hochladen!</button>
    </form>
    <img src=<%=profileData.profilePic%>>
    <div id="imgcontainer">

    </div>
    <form action="uploadBio" method="POST">
            
        <textarea rows="4" cols="20" name="bioText">
            <%= profileData.bioText %>
        </textarea>
        <button type="submit">Speichern!</button>
    </form>
</body>
</html>
